.container {
	display: grid;
	grid-template-areas:
		"nav"
		/* "header" */
		"main"
		"footer";
	/* grid-template-rows: auto auto 1fr 36px; */
	grid-template-rows: auto 1fr 36px;
	align-items: center;
	min-height: 100vh;
}

.logo {
	height: 40vmin;
	pointer-events: none;
}

.header {
	grid-area: header;
}

.main {
	grid-area: main;
}

.header,
.main {
	display: flex;
	flex-direction: column;
    height: 100%;
	/* align-items: center; */
	/* justify-content: center; */
}

.footer {
	grid-area: footer;
	justify-self: center;
}

.nav {
	height: 3rem;
	grid-area: nav;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-size: calc(10px + 2vmin);
	background-color: #fff;
	border-bottom: 1px solid #dcdee0;
}

.nav .navItem { 
	border-right: 1px solid #dcdee0;
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
	height: 100%;
	font-size: 1rem;
	cursor: pointer;
}

.nav .navItem .addrBalance {
	display: flex;
	flex-direction: column;
	font-size: 0.7em;
	font-weight: 600;
}

.clickable {
    cursor: pointer;
}

.clickable.selected {
    background-color: #aaf;
}
.clickable:hover {
    background-color: #aaa;
}

.flexFill{ flex-grow: 1; }

.link:hover {
	text-decoration: underline;
}

.link {
	color: #704cb6;
}

.link.active {
	text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
	.logo {
		animation: logo-float infinite 3s ease-in-out;
	}
}

@keyframes logo-float {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0px);
	}
}

.Input {
	border-radius: 2px;
	font-size: 1rem;
	line-height: 1;
	font-weight: 500;
	height: 35px;
	border: 1px solid;
}